body{
  font-family: Arial, sans-serif;
  background:#f5f7ff;
  padding:40px;
}

h1{
  color:#2F6BFF;
  margin-bottom:30px;
}

.task{
  background:#fff;
  padding:25px;
  margin-bottom:25px;
  border-radius:10px;
  box-shadow:0 6px 16px rgba(0,0,0,0.1);
  max-width:450px;
}

.task-title{
  font-size:18px;
  font-weight:700;
  color:#2F6BFF;
  margin-bottom:15px;
}

input{
  width:100%;
  padding:10px;
  margin-bottom:10px;
  font-size:16px;
}

button{
  padding:10px 20px;
  background:#2F6BFF;
  color:#fff;
  border:none;
  border-radius:6px;
  cursor:pointer;
  font-size:16px;
}

p{
  margin-top:12px;
  font-weight:bold;
}
